{% extends 'base.html' %}
{% block title %} Events {% endblock title %}
{% block content %}


<!-- events -->
		<div class="events">
			<h3>Events</h3>
			<div class="w3agile_event_grids">
				<div class="col-md-6 w3agile_event_grid">
					<div class="col-md-3 w3agile_event_grid_left">
						<i class="fa fa-bullhorn" aria-hidden="true"></i>
					</div>
					<div class="col-md-9 w3agile_event_grid_right">
						<h4>WHEN OUR ELECTED</h4>
						<p>Was selected for these matters to this,
						therefore, is obliged to heed a wise man,
						that he should either he rejects pleasures to.
						.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3agile_event_grid">
					<div class="col-md-3 w3agile_event_grid_left">
						<i class="fa fa-bullseye" aria-hidden="true"></i>
					</div>
					<div class="col-md-9 w3agile_event_grid_right">
						<h4>THIS IS THE WISE</h4>
						<p>Was selected for these matters to this,
						therefore, is obliged to heed a wise man,
						that he should either he rejects pleasures to.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_event_grids">
				<div class="col-md-6 w3agile_event_grid">
					<div class="col-md-3 w3agile_event_grid_left">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
					</div>
					<div class="col-md-9 w3agile_event_grid_right">
						<h4>WISE OF THEM BOUND</h4>
						<p>Was selected for these matters to this,
						therefore, is obliged to heed a wise man,
						that he should either he rejects pleasures to
						.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3agile_event_grid">
					<div class="col-md-3 w3agile_event_grid_left">
						<i class="fa fa-eye" aria-hidden="true"></i>
					</div>
					<div class="col-md-9 w3agile_event_grid_right">
						<h4>THOSE WHOSE DUTY</h4>
						<p>Was selected for these matters to this,
						therefore, is obliged to heed a wise man,
						that he should either he rejects pleasures to.
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3agile_event_grids">
				<div class="col-md-6 w3agile_event_grid">
					<div class="col-md-3 w3agile_event_grid_left">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</div>
					<div class="col-md-9 w3agile_event_grid_right">
						<h4>IT WILL FREQUENTLY OCCUR</h4>
						<p>that he should either he rejects pleasures to..</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3agile_event_grid">
					<div class="col-md-3 w3agile_event_grid_left">
						<i class="fa fa-trophy" aria-hidden="true"></i>
					</div>
					<div class="col-md-9 w3agile_event_grid_right">
						<h4>Nice thought</h4>
						<p>that he should either he rejects pleasures to..</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="events-bottom">
				<div class="col-md-6 events_bottom_left">
					<div class="col-md-4 events_bottom_left1">
						<div class="events_bottom_left1_grid">
							<h4>20</h4>
							<p>July, 2020</p>
						</div>
					</div>
					<div class="col-md-8 events_bottom_left2">	
						<img src="{{ MEDIA_URL }}static/15.jpg" alt=" " class="img-responsive" />
						<h4>SO THAT WE MAY BE ABLE TO DO, OR REJECTING SOME</h4>
						<ul>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i>3:00 PM</li>
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Admin</a></li>
						</ul>
						<p>choosing when they are enabled to do nothing to stop it were not so, every pleasure is to be.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 events_bottom_left">
					<div class="col-md-4 events_bottom_left1">
						<div class="events_bottom_left1_grid">
							<h4>21</h4>
							<p>July, 2020</p>
						</div>
					</div>
					<div class="col-md-8 events_bottom_left2">	
						<img src="{{ MEDIA_URL }}static/19.jpg" alt=" " class="img-responsive" />
						<h4>WE MAY BE ABLE TO MAKE THE MOST HE MAY PLEASE THE</h4>
						<ul>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i>3:30 PM</li>
							<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Admin</a></li>
						</ul>
						<p>For your free time, and they are independent to us the most important is that which is well pleasing in his option.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //events -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->

{% endblock content %}