
{% extends 'base.html' %}
{% block title %} Pet Food {% endblock title %}
{% block content %}

			<div class="w3l_banner_nav_right_banner9 w3l_banner_nav_right_banner_pet"  style="background: url({{ MEDIA_URL }}/static/27.jpg) no-repeat 0px 0px;">
				<h4>Your Pet Favourite Food</h4>
				<p>chiken, egg</p>
				<a href="">Shop Now</a>
			</div>
			<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
				<h3 class="w3l_fruit">Pet Food</h3>
				
				<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
					{% for food in obj %}
					<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							{% if food.avg > 0 %}
							<div class="agile_top_brand_left_grid_pos">
								<img src="{{ MEDIA_URL }}static/offer.png" alt=" " class="img-responsive" />
							</div>
							{% endif %}
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{% url 'single' food.pk %}"><img src="{{food.product_img.url}}" alt=" " class="img-responsive" /></a>
											<p>{{food.Product_name}}</p>
											<h4> {{ food.disc}} <span>{{ food.price}}</span> | ( {{food.avg}}% off)</h4>
										</div>
										<div class="snipcart-details">
											<form action="/pet" method="post">
												{% csrf_token %}
												<fieldset><!--
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="{{ bread.Product_name}}" />
													<input type="hidden" name="amount" value="{{ bread.price}}" />
													<input type="hidden" name="discount_amount" value="10.00" />
													<input type="hidden" name="currency_code" value="" /RS>
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />-->
													<input type="hidden" name="id" value="{{food.pk}}">
													<a href="{% url 'pet' %}" style="color: black;">
														<input type="submit" name="submit" value="Add to cart" class="button" />
													</a>
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					{% endfor %}
					
					<div class="clearfix"> </div>
				</div>
				
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->

{% endblock content %}