
{% extends 'base.html' %}
{% block title %}  Privacy Policy & Terms of Use {% endblock title %}
{% block content %}

<!-- privacy -->
		<div class="privacy">
			<div class="privacy1">
				<h3>Privacy Policy</h3>
				<div class="banner-bottom-grid1 privacy1-grid">
					<ul>
						<li><i class="glyphicon glyphicon-user" aria-hidden="true"></i></li>
						<li>Profile <span> 
						Fresh Vegetables and Products for you in HomeShopingMart.</span></li>
					</ul>
					<ul>
						<li><i class="glyphicon glyphicon-search" aria-hidden="true"></i></li>
						<li>Search <span>Fresh Vegetables and Products for you in HomeShopingMart.</span></li>
					</ul>
					<ul>
						<li><i class="glyphicon glyphicon-paste" aria-hidden="true"></i></li>
						<li>News Feed <span>Fresh Vegetables and Products for you in HomeShopingMart.</span></li>
					</ul>
					<ul>
						<li><i class="glyphicon glyphicon-qrcode" aria-hidden="true"></i></li>
						<li>Applications <span>Fresh Vegetables and Products for you in HomeShopingMart.</span></li>
					</ul>
				</div>
			</div>
			<div class="privacy1">
				<h3>Terms of Use</h3>
				<div class="banner-bottom-grid1 privacy2-grid">
					<div class="privacy2-grid1">
						<h4>They Deserted The General Is Soothing To The Soul, That Is To Their Labors?</h4>
						<p>But I must explain to you how all this mistaken idea of ​​denouncing pleasure and praising pain was born, a complete account of the system, and expound the actual teachings of the great explorer of the truth and will unfold in the master-builder of human happiness. For no one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because they do not know how to pursue pleasure rationally encounter consequences that are the sorrows of those who have.</p>
						<div class="privacy2-grid1-sub">
							<h5>1.Cupidatat Blacks Are Not Excepteur Are</h5>
							<p>Fresh Vegetables for you in HomeShopingMart and Products</p>
						</div>
						<div class="privacy2-grid1-sub">
							<h5>2.Perspiciatis How All This Mistaken</h5>
							<p>Fresh Vegetables for you in HomeShopingMart and Products</p>
						</div>
						<div class="privacy2-grid1-sub">
							<h5>3. Mistaken Idea Of ​​Bringing Pleasure</h5>
							<p>Mistaken Idea Of ​​Bringing Pleasure.</p>
						</div>
						<div class="privacy2-grid1-sub">
							<h5>4. occaecat cupidatat non proident, sunt in</h5>
							<p>Fresh Vegetables for you in HomeShopingMart and Products.</p>
						</div>
						<div class="privacy2-grid1-sub">
							<h5>5. Desert That Is Soft Minds Snacks</h5>
							<p>Fresh Vegetables for you in HomeShopingMart and Products</p>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- //privacy -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->

{% endblock content %}