{% extends 'base.html' %}
{% block title %}  Fruits & Vegetables {% endblock title %}
{% block content %}

			<div class="w3l_banner_nav_right_banner5" style="background: url({{ MEDIA_URL }}/static/17.jpg) no-repeat 0px 0px;">
				<h3>Best Deals For New Products<span class="blink_me"></span></h3>
			</div>
			<div class="w3l_banner_nav_right_banner3_btm">
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="view view-tenth">
						<img src="{{ MEDIA_URL }}static/18.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<h4>HomeShopingMart</h4>
							<p>Fresh Vegetables for you in HomeShopingMart.</p>
						</div>
					</div>
					<h4>Fruits & Vegetables</h4>
					<ol>
						<li>Freast Fruits and Products</li>
						<li>Wines and juses</li>
						<li>Fresh fruits</li>
					</ol>
				</div>
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="view view-tenth">
						<img src="{{ MEDIA_URL }}static/19.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<h4>HomeShopingMart</h4>
							<p>Fresh Dry fruits avilable for you.</p>
						</div>
					</div>
					<h4>Dry Fruits</h4>
					<ol>
						<li>Fresh almonds</li>
						<li>All Dry fruit products are Fresh</li>
						<li>All Dry fruit products are Fresh</li>
					</ol>
				</div>
				<div class="col-md-4 w3l_banner_nav_right_banner3_btml">
					<div class="view view-tenth">
						<img src="{{ MEDIA_URL }}static/20.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<h4>HomeShopingMart</h4>
							<p>Fresh indian Vagetables.</p>
						</div>
					</div>
					<h4>Vegetables</h4>
					<ol>
						<li>All Vagetables are Fresh</li>
						<li>These Vagetables from UP And Punjab</li>
						<li>In Very Good Price</li>
					</ol>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_veg">
				<h3 class="w3l_fruit">Fruits & Vegetables</h3>
				
				<div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
					{% for fruit in obj %}
					<div class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="tag"><img src="images/tag.png" alt=" " class="img-responsive"></div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="{% url 'single' fruit.pk %}"><img src="{{fruit.product_img.url}}" alt=" " class="img-responsive" /></a>
											<p> {{fruit.Product_name}} </p>
											<h4>{{fruit.price}} <span>70.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="/vegetables" method="post">
												{% csrf_token %}
												<fieldset><!--
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="{{ bread.Product_name}}" />
													<input type="hidden" name="amount" value="{{ bread.price}}" />
													<input type="hidden" name="discount_amount" value="10.00" />
													<input type="hidden" name="currency_code" value="" /RS>
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />-->
													<input type="hidden" name="id" value="{{fruit.pk}}">
													<a href="{% url 'vegetables' %}" style="color: black;">
														<input type="submit" name="submit" value="Add to cart" class="button" />
													</a>
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"> </div>
				</div>
				
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->

{% endblock content %}